body{
    font-family: 'Roboto', sans-serif;
    height: 200em;
}
.header_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}



.header_container h1{
    color: #901C1C;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.header_container h1 a 
{
    text-decoration: none;
    color: #901C1C;
}

.header_container span

{
    color: #901C1C;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border : 0.5px solid #C4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
    padding: 0.2em 0.5em;
    margin: 0.2em 0.5em;
}

.header_container span:hover
{
    border: 0.5px solid blue;

}

.tags
{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 3
    ;

}

.header_container h2

{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #901C1C;
    text-align: center;
    align-self: center;
    order: 2;




}



/*MAIN-PHOTOGRAPHES*/

.main-photographes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;

}


.photographe-img
{
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
    overflow: hidden;
    border-radius:50% ;
    margin: 0 auto;
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);

}

.photographe-img:hover
{
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
    cursor: pointer;
    transform: scale(1.05);
}

.photographe-name
{
    color:#D3573C;
    margin-top: 0.5em;
    margin-bottom: 0;

}

.photographe-loc
{
   color: #901C1C;
   margin: 0;
   font-weight: 400;
   font-size: 13px;

}

.photographe-quote
{
    margin-top: 0.5em;
    font-size: 10px;
    margin-bottom: 0;
}

.photographe-tarif
{
    margin-top: 0.5em;
    margin-bottom: 0;
    color: #757575;
    font-weight: 400;
    font-size: 9px;

}

.photographe-tags
{
    margin-top: 0.5em;
}
span
{



    color: #901C1C;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border : 0.5px solid #C4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
    padding: 0.2em 0.5em;
    margin: 0 0.1em;

}


/*media queries*/

@media screen and (min-width : 768px) {

main {
    
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}



.header_container h2{
    order: 3;

}

.header_container .tags{
    order: 2;

}

#btn-content {
    
    color: black;
    background-color: #DB8876;
    height: 30px;
    border: #DB8876 1px;
    border-radius: 5px;
    font-weight: 700;
    position: fixed;
    cursor: pointer;
}

}



@media screen and (min-width: 1100px) {

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
}