body {
    font-family: 'roboto', sans-serif;
    padding: 0 2em;
    max-width: 1800px;
}

header h1  a {
    color: #901C1C;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.main-photographes
{
    display: flex;
    flex-direction: column;
    /* align-items: normal; */
    flex-wrap: wrap;
    margin-top: 3em;
    text-decoration: none;
    pointer-events: none;
    margin-bottom: 2em;


}

.photographer-data
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-between;
  text-decoration: none;

}

.photographe-img
{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    overflow: hidden;
    border-radius:50% ;
    /* margin: 0 auto; */
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
    order: 2;

}

.photographe-name
{
    color:#D3573C;
    margin-top: 0.5em;
    margin-bottom: 0;

}

.photographe-loc
{
   color: #901C1C;
   margin: 0;
   font-weight: 400;
   font-size: 13px;

}

.photographe-quote
{
    margin-top: 0.5em;
    font-size: 0.7em;
    margin-bottom: 0;
    color: #525252;
    text-decoration: none;
}

.photographe-tarif
{
  display: none;

}

.photographe-tags
{
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    /* margin-left: 1.5em; */
}
  main .firsttag
{



    color: #901C1C;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border : 0.5px solid #C4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
    padding: 0.2em 0.5em;
    margin: 0 0.1em;
    pointer-events:initial;
    text-decoration: none;
    

}

.firsttag:active{
  background-color: #901C1C;
  color: white;
}

.firsttag:focus{
  background-color: #901C1C;
  color: white;
}

main .firsttag::before {
  content: "#"
}



@media screen and (min-width: 768px) {

  header h1 a {
    margin :50px 100px 0 100px

  }
  .main-photographes{
    background-color: #FAFAFA;
    padding: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin : 50px 100px 0 100px;

  }

  .photographe-img{
    position: absolute;
    left: 80%;
    height: 8rem;
    width: 8rem;
   
  }

  .photographe-name{
    font-size: 4rem;
   
  }
  .photographe-loc{
    font-size: 1.5rem;
  }

  .photographe-quote{
   font-size: 1.2rem;
  }
  .photographe-tarif{
    display: none;
  }

  .photographer-data{
    display: block;
  }

  span {
    align-self:flex-start ;
  }

  
  
}


/*MAIN*/

.medias {
  margin-bottom: 5em;
}

.media
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    cursor: pointer;
    /* margin-bottom: 1em; */
    /* display: none; */
}

.media_img
{
    width: 100%;
    height: 10em;
    /* height: 300px; */
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;

}

.media_video
{
  width: 100%;
    height: 10em;
    object-fit: cover;
    overflow: hidden;
  border-radius : 5px;
}

.media_infos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;

}

.media_title
{
  font-size: 14px;
}

.media_likes{
  display:flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/***LIGHTBOX***/


.lightbox___container
{
  top : 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  position: fixed;

}

.media_lightbox
{
 width: 300px;
  border-radius:5px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
}

.media_lightbox_title
{
  color: #901C1C;
  font-weight: 400;
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.2rem;

}

.closeIcon
{
  color: #901C1C;
  font-weight: 600;
  font-size: 1.4em;
  position: absolute;
  top: 15%;
  right: 7%;
  cursor: pointer;
 
}


.rightIcon {
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 50%;
  right: 2%;
  cursor: pointer;

}

.leftIcon {
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 2%;
  cursor: pointer;

}
@media screen and (min-width: 768px) {

  .media_img,.media_video
{
    width: 100%;
    height: 300px;
    

}
.lightbox___container
{
  top : 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #C4c4c4;
  z-index: 100;
  position: fixed;


}
.media_lightbox
{
  width: 1050px;
  height: 900px;
  border-radius:5px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
}

.media_lightbox_title
{
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  bottom: 2%;
  left: 10%;
  font-size: 2rem;

}

.closeIcon
{
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 2%;
  right: 7%;
  cursor: pointer;
 
}

.rightIcon {
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 50%;
  right: 7%;
  cursor: pointer;

}

.leftIcon {
  color: #901C1C;
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 7%;
  cursor: pointer;

}
}

/***form***/

#modal-form {
  background-color: #DB8876;
  width: 100%;
  height: 100%;
position: fixed;
top: 0;
right: 0;
bottom: 0;
z-index: 15;
justify-content: center;
align-items: center;
display: none; /*important*/
overflow: auto;
}


.btn-form
{
  display: block;
  cursor: pointer;
    width: max-content;
    background-color: #901C1C;
    color: white;
    padding: 0px 10px;
    font-size: 1.3em;
    font-weight: 700;
    position: fixed;
    bottom: 1em;
    margin : 0 0 0 4em;
    border-radius: 5px;
    border: none;
    height: 2em;
    font-family: 'roboto', sans-serif;
}

#nameofphotographer {
  margin: 1em;
}




form
{
  margin: 0;
  position: relative;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  background-color: #DB8876;
  




}
#nameofphotographer {
  margin-top: 0;
  font-size: xx-large;
  width: 100%;
  margin-left: 3em;
}

#btnClose
{
color: white;
height: 20px;
width: 20px;
cursor: pointer;
margin: 0;
margin-right: 20px;
position: absolute;
top: 0;
right: 0;
}

form .fas{
  font-size: x-large;
}

form label{
    font-size: 1.5rem;
    color: #312E2E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    border-radius: 5px;
    height:50px ;
    width: 330px;
    border: none;
}




 .mymessage{
     padding-bottom: 60px;
 }

 #btn-submit
 {
   display: block;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background: #901C1C;
    color: white;
    padding: 1em 3em;
    margin: 0 auto;
    
    text-align: center;
    
  }



    .formData[data-error]::after {
      content: attr(data-error);
      font-size: 1em;
      color: #e54858;
      display: block;
      margin-top: 7px;
      margin-bottom: 17px;
      text-align: left;
      line-height: 0.3;
      opacity: 0;
      transition: 0.3s;
      margin-left: 20px;
    }
    .formData[data-error-visible="true"]::after {
      opacity: 1;
    }
    .formData[data-error-visible="true"] .text-control {
      border: 2px solid #e54858;
    }

    .sum-price-likes {
        display: none;
      }
      .sum-price-likes,
      .sort-media {
        display: none;
      }
 
     
      
.dropdowns{
    display: none;
}

@media screen and (min-width: 768px) {
    #medias {
      margin: 50px 100px 0 100px;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }

    
  }

@media screen and (min-width: 1100px) {
  #medias {
      margin: 50px 100px 0 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    #modal-form {
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      z-index: 15;
      
    }

    form {
      width: 40%;
      height: 100vh;
    }
}


.next
{
    display: none;
}


 @media screen and (min-width : 768px) {




  .form-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background-color:rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  display: none;
 

}
    

    .dropdowns {
        display: flex;
        position: relative;
        margin-left: 100px;
        margin-top: 50px;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      input[type='checkbox' i] {
        appearance: none;
      }
      input[type='radio' i] {
        appearance: none;
      }
      
      .dropdowns p {
        padding: 10px;
        font-weight: 700;

      }
      
      /* #app-cover {
        width: 150px;
        height: 42px;
      } */
      
  /* #dropdowns__select {
    width: 150px;
    height: 42px;
  } */

  #select-box {
    width: 8em;
  }
      #select-button {
        position: relative;
        height: 2em;
        padding: 12px 14px;
        background-color: #901C1C;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        height: 3em;
        border: none;
      }
      
      #options-view-button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        /* opacity: 0; */
        cursor: pointer;
        z-index: 3;

      }

      


      
/*       
      #selected-value {
        font-size: 16px;
        line-height: 1;
        margin-right: 26px;
      } */
      
      /* .option i {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 14px;
        padding: 0;
        display: none;
      } */
      
      .option,
      .label {
        
        font-size: 16px;
      }
      
      #chevrons {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        padding: 14px;
      }
      
      #chevrons i {
        display: block;
        height: 50%;
        color: white;
        font-size: 12px;
        text-align: right;
      }

      #chevrons .fa-chevron-up {
    display: none;
      }
      #chevrons .fa-chevron-up.visible {
        display: block;
          }
      
      #chevrons .fa-chevron-down.invisible {
        display: none
          }
      
      #options {
        position: absolute;
        width: 148px;
        margin: 0 auto;
        background-color: solid #901C1C;
        border-radius: 4px;
        color: white;
        padding: 0;
        list-style-type: none;
      }
      
      #options-view-button:checked ~ #options {
        border: 1px solid #901C1C;
      }
      
      .option {
        position: relative;
        line-height: 1;
        transition: 0.3s ease all;
        z-index: 2;
        background: #901C1C;
      }
      
      /* #options-view-button:checked ~ #options .option i {
        display: block;
        padding: 12px 0;
      } */
      
      .label {
        display: none;
        padding: 0;
        border-bottom: 0.5px solid rgb(255, 255, 255, 0.5);
        color: white;

      }
      
      #options-view-button:checked ~ #options .label {
        display: block;
        padding: 12px 14px;
      }
/*       
      .s-c {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        top: 0;
      } */
      
      input[type='radio'] {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 50%;
        margin: 0;
        /* opacity: 0; */
        cursor: pointer;
      }
      
      .s-c:hover {
        height: 100%;
        z-index: 1;
      }
      
      .opt-val {
        position: absolute;
        left: 14px;
        width: 217px;
        height: 21px;
        opacity: 0;
        transform: scale(0);
      }
      
      .option input[type='radio']:checked ~ .opt-val {
        opacity: 1;
        transform: scale(1);
      }
      
      .option input[type='radio']:checked ~ .label {
        color: white;
      }
      
      .option input[type='radio']:checked ~ .label:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
      
      #options-view-button:not(:checked) ~ #options .option input[type='radio']:checked ~ .opt-val {
        top: -30px;
      }
      
      .option:nth-child(1) input[type='radio']:checked ~ .opt-val {
        top: -31px;
      }
      
      .option:nth-child(2) input[type='radio']:checked ~ .opt-val {
        top: -71px;
      }
      
      .option:nth-child(3) .label {
        border-bottom: none;
      }
      
      .option:nth-child(3) input[type='radio']:checked ~ .opt-val {
        top: -111px;
      }
      
      #option-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        transition: 0.3s ease all;
        z-index: 1;
        display: none;
      }




    #btn-form {
        position: relative

    }

    .sum-price-likes {
        position: fixed;
        background-color: #DB8876;
        bottom: 0;
        display: flex;
        padding: 15px;
        border-radius: 5px 5px 0px 0px;
        font-size: 1.2em;
        right: 0;
        height: 20px;
        align-items: center;
      }

      .sum-price-likes::after {
        content: " / jour";
      }

     
    
      .total-likes {
        display: flex;
        margin-right: 30px;
        align-items: center;

      }

      
    }
    @media screen and (min-width: 1100px) {
      .btn-form {
        top: 10em;
        height: 3em;
        margin: 0;
        left: 50%;
        position: absolute;
      }

    }